<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".TextToolsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickTools"
        tools:targetApi="31">
        <activity
            android:name=".activities.OptionsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent">

            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.QuickTools" />
        <activity
            android:name=".activities.TryOutActivity"
            android:exported="false"
            android:label="@string/title_activity_try_out"
            android:theme="@style/Theme.QuickTools" />
        <activity
            android:name=".activities.EvalActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/context_menu_eval"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".activities.WUPActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/context_menu_whatsapp"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name=".activities.TransformActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/context_menu_transform"
            android:theme="@style/Theme.QuickTools" />
        <activity
            android:name=".activities.SaveTextActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/save_text_title"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name=".activities.FindAndReplaceActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/title_activity_find_and_replace"
            android:theme="@style/Theme.QuickTools" />
        <activity
            android:name=".activities.TextCountActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/text_count"
            android:theme="@style/Theme.QuickTools" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QuickTools">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".activities.EvalActivityAlias"
            android:targetActivity=".activities.EvalActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/context_menu_eval"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter android:label="@string/context_menu_eval">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/context_menu_eval">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".activities.WUPActivityAlias"
            android:targetActivity=".activities.WUPActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/context_menu_whatsapp"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:label="@string/context_menu_whatsapp">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/context_menu_whatsapp">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.TransformActivityAlias"
            android:targetActivity=".activities.TransformActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/context_menu_transform"
            android:theme="@style/Theme.QuickTools">
            <intent-filter android:label="@string/context_menu_transform">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/context_menu_transform">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.TextCountActivityAlias"
            android:targetActivity=".activities.TextCountActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/context_menu_text_count"
            android:theme="@style/Theme.QuickTools">
            <intent-filter android:label="@string/context_menu_text_count">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/context_menu_text_count">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.FindAndReplaceActivityAlias"
            android:targetActivity=".activities.FindAndReplaceActivity"
            android:exported="true"
            android:label="@string/context_menu_find_and_replace"
            android:theme="@style/Theme.QuickTools" >

            <intent-filter android:label="@string/context_menu_find_and_replace">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/context_menu_find_and_replace">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SaveTextActivityAlias"
            android:targetActivity=".activities.SaveTextActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/context_menu_save"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter android:label="@string/context_menu_save">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/context_menu_save">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>